/target/
/Proyectos/DTOSS/target/
/Proyectos/Persistenciaa/target/
/Proyectos/Modelo/target/
/Proyectos/Adapters/target/
/Proyectos/Negocio/target/
/Proyectos/expciones/target/
/Proyectos/Fachada/target/
/Proyectos/Implementaciones/target/
/Proyectos/infraestructura/target/
